<div class="search-bar">
  <p-iconfield styleClass="search-bar__field">
    <p-inputicon styleClass="pi pi-search search-bar__icon" />
    <input
      pInputText
      class="search-bar__input"
      type="text"
      [placeholder]="placeholder()"
      [value]="value()"
      (input)="onInput($event)"
      autocomplete="off"
      aria-label="Buscar personaje"
      spellcheck="false"
    />
    @if (value()) {
      <p-button
        icon="pi pi-times"
        [rounded]="true"
        [text]="true"
        size="small"
        styleClass="search-bar__clear"
        (onClick)="onClear()"
        aria-label="Limpiar búsqueda"
      />
    }
  </p-iconfield>
  <br>
</div>
