<nav class="navbar">
  <div class="navbar__inner">
    <div class="navbar__brand">
      <p-avatar
        label="R&M"
        styleClass="navbar__avatar"
        shape="circle"
      />
      <div class="navbar__text">
        <span class="navbar__title">Explorer</span>
        <span class="navbar__tagline">Rick &amp; Morty Universe</span>
      </div>
    </div>

    <div class="navbar__center">
      <p-tag
        value="Wubba Lubba Dub Dub!"
        styleClass="navbar__quote-tag"
        [rounded]="true"
      />
    </div>


  </div>
</nav>
